# Builds 
name: java-maven-skaffold-build-push-docker
on:
  workflow_call:
    inputs:
      repositoryFolder: 
        description: "The code repository folder to build. '.' for the root folder, './folder1/mavenRoot/' for a sub-folder"
        default: '.'
        required: false
        type: string
      javaVersion:
        description: 'The Java version to build and deploy. Default is Java 25'
        default: '25'
        required: false
        type: string
jobs:
  build-push-skaffold:
    runs-on: ubuntu-latest
    #defaults:
    #  run: 
    #    working-directory: ${{ inputs.repositoryFolder }} 
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{ inputs.javaVersion }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.javaVersion }}
          distribution: "temurin"
          cache: "maven"
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build image with Skaffold
        uses: hiberbee/github-action-skaffold@1.27.0
        with:
          skaffold-version: 2.17.2
          working-directory: ${{ inputs.repositoryFolder }}
          command: build
          push: true
          repository: kjetilh33
          tag: "latest"
